/* Page setup
==========

Basic styles to set up the page backgrounds, grid systems, etc.

*/
*{
    @include box-sizing(border-box);
}

html{
    font: $font-weight #{$font-size}%/#{$line-height} $primary-font;
    word-wrap: break-word;
    background-color: $white;
    color: $black;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: $l;
}

/* Basic Elements
==========

All the basic elements.

    <strong>strong</strong><br />
    <em>em</em><br />
    <small>small</small><br />
    <a href="#">link</a><br />

*/

b,
strong{
    font-weight: bold;
}

i,
em{
    font-style: italic;
    color: $grey;
}

small{
    font-size: $ratio-inv + em;
}

a{
    color: $orange;
    text-decoration: none;

    &:hover,
    &:focus{
        color: $light-orange;
        text-decoration: underline;
    }
}