$icon-fonts: ('Icons against humanity'); //TODO: Make this icon font

@if ($icon-fonts != null) {
    @each $font in $icon-fonts {
        @include font-face( $font,
            font-files(
                '#{$font}/#{$font}.woff',
                '#{$font}/#{$font}.ttf',
                '#{$font}/#{$font}.svg', svg
            ),
            '#{$font}/#{$font}.eot'
            )
    }
}

%icon{
    font-family: 'Icons against humanity', monospaced;
    -webkit-font-smoothing: antialiased;
    font-weight: normal !important;
}