/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 58, ../../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-weight: bold;
}

/* line 74, ../../sass/_typography.scss */
.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.24893rem;
}

/* line 74, ../../sass/_typography.scss */
.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.32361rem;
}

/* line 74, ../../sass/_typography.scss */
.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.40451rem;
}

/* line 74, ../../sass/_typography.scss */
.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.48541rem;
}

/* line 74, ../../sass/_typography.scss */
.beta, h2 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.60676rem;
}

/* line 74, ../../sass/_typography.scss */
.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.80902rem;
}

/* line 74, ../../sass/_typography.scss */
.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.21353rem;
}

/* line 74, ../../sass/_typography.scss */
.epsilon, h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.38689rem;
}

/* line 74, ../../sass/_typography.scss */
.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.61803rem;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}

/* line 1, ../../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../../sass/_base.scss */
html {
  font: normal 112.5%/1.61803 "helvetica neue", helvetica, sans-serif;
  word-wrap: break-word;
  background-color: white;
  color: black;
}

/* line 12, ../../sass/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 18, ../../sass/_base.scss */
b,
strong {
  font-weight: bold;
}

/* line 23, ../../sass/_base.scss */
i,
em {
  font-style: italic;
  color: #95a5a6;
}

/* line 28, ../../sass/_base.scss */
small {
  font-size: 0.61803em;
}

/* line 32, ../../sass/_base.scss */
a {
  color: inherit;
}
/* line 36, ../../sass/_base.scss */
a:hover, a:focus {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 41, ../../sass/_base.scss */
.wrapper, body {
  max-width: 100%;
  width: 740px;
  margin: 0 auto;
  position: relative;
}

/* line 1, ../../sass/_shame.scss */
body {
  padding: 0.61803em;
}
