/* Ratios
==========

Some universal values based on the [golden ratio](http://en.wikipedia.org/wiki/Golden_ratio) and it's inverse

*/
$ratio      : 1.618033988750894;
$ratio-inv  : 1 / $ratio;

/* Breakpoints
==========

The global breakpoints for the site.

*/
$s  : 480px;
$m  : 580px;
$l  : 740px;